In [1]:
# Nessa amostragem, vamos olhar para cada estrato para retirar amostras para ent√£o formar nossa amostra final

import pandas

In [2]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
b = ["A", "A", "A", "A", "B", "B", "C", "C", "C", "D", "D", "D"]

df = pandas.DataFrame({"grupo": b, "values": a})

df

   grupo  values
0      A       1
1      A       2
2      A       3
3      A       4
4      B       5
5      B       6
6      C       7
7      C       8
8      C       9
9      D      10
10     D      11
11     D      12

In [3]:
#Vamos fazer uma amostragem estratificada onde cada estrato vai ter o mesmo tamanho na amostra final, a menos que a quantidade dentro do estrato seja menor do que a que queremos.
def amostra_estratificada_1(df, n, estrato):
    amostra = df.groupby(estrato, group_keys=False).apply(lambda x: x.sample(min(len(x), n)))

    return amostra

In [4]:
#Amostra estratificada com estratos de tamanho 2
amostra_estratificada_1(df, 2, 'grupo')

C:\Users\cezar\AppData\Local\Temp\ipykernel_13436\2745407236.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  amostra = df.groupby(estrato, group_keys=False).apply(lambda x: x.sample(min(len(x), n)))

   grupo  values
2      A       3
1      A       2
4      B       5
5      B       6
6      C       7
7      C       8
10     D      11
9      D      10

In [5]:
amostra_estratificada_1(df, 2, 'grupo')

C:\Users\cezar\AppData\Local\Temp\ipykernel_13436\2745407236.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  amostra = df.groupby(estrato, group_keys=False).apply(lambda x: x.sample(min(len(x), n)))

   grupo  values
1      A       2
0      A       1
5      B       6
4      B       5
6      C       7
7      C       8
10     D      11
11     D      12

In [6]:
#Amostra estratificada com estratos de tamanho 3

amostra_estratificada_1(df, 3, 'grupo')

C:\Users\cezar\AppData\Local\Temp\ipykernel_13436\2745407236.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  amostra = df.groupby(estrato, group_keys=False).apply(lambda x: x.sample(min(len(x), n)))

   grupo  values
2      A       3
3      A       4
1      A       2
4      B       5
5      B       6
6      C       7
7      C       8
8      C       9
9      D      10
10     D      11
11     D      12

In [7]:
#Agora, ao inv√©s de definir o tamanho dos estratos, vamos definir o tamanho da amostra final. Cada estrato vai ter uma amostra proporcional √† representa√ß√£o do estrato na popula√ß√£o.
def amostra_estratificada_2(df, N, estrato):
    tamanho_pop = df.shape[0]
    amostra = df.groupby(estrato, group_keys=False)\
        .apply(lambda x: x.sample(int(N*len(x)/tamanho_pop)))\
        .reset_index(drop=True)\
        .sort_values(by=estrato)

    return amostra

In [8]:
#Amostra estratificada de tamanho 9
amostra_estratificada_2(df, 9, 'grupo')

C:\Users\cezar\AppData\Local\Temp\ipykernel_13436\2820787323.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.sample(int(N*len(x)/tamanho_pop)))\

  grupo  values
0     A       1
1     A       4
2     A       3
3     B       6
4     C       9
5     C       7
6     D      11
7     D      12

In [9]:
#Amostragem por Conglomerado
#Vamos ver como podemos calcular amostras com o m√©todo de amostragem por conglomerado.
#Aqui, precisaremos primeiro amostrar aleat√≥riamente os conglomerados para ent√£o pegar todas as observa√ß√µes desses conglomerados escolhidos e formar nossa amostra.
from random import sample

def amostra_conglomerado(df, n_conglomerados, conglomerado):
    todos_conglomerados = list(df[conglomerado].unique())
    tamanho_conglomerados = len(todos_conglomerados)
    n = min(n_conglomerados, tamanho_conglomerados)
    conglomerados_sorteados = sample(todos_conglomerados, n)
    
    amostra = df[df[conglomerado].isin(conglomerados_sorteados)]
    return amostra

In [10]:
#Amostra por conglomerado com tamanho 2 conglomerados.
amostra_conglomerado(df, 2, 'grupo')

  grupo  values
0     A       1
1     A       2
2     A       3
3     A       4
6     C       7
7     C       8
8     C       9

In [11]:
#Amostra por conglomerado com tamanho 3 conglomerados
amostra_conglomerado(df, 3, 'grupo')

  grupo  values
0     A       1
1     A       2
2     A       3
3     A       4
4     B       5
5     B       6
6     C       7
7     C       8
8     C       9